@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 26px;
  background-color: rgb(235, 240, 241);
  border: 1px solid lightskyblue;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
  font-size: 16px;
}

.field label {
  font-weight: bold;
}

.field input,
select {
  padding: 6px;
  font-size: 16px;
}

.field select > option {
  padding: 2px;
  font-size: 16px;
}

.form .buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media (width < 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.form button {
  font-size: 18px;
  width: 40%;
  align-self: center;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 300ms ease;

  @media (width < 768px) {
    width: 100%;
  }
}

.form button[type="submit"] {
  color: white;
  background-color: darkblue;
}

.form button[type="submit"]:hover {
  background-color: dodgerblue;
}

.form button[type="reset"]:hover {
  background-color: palegoldenrod;
}
